h1,
label {
  color: white;
}

.in {
  width: 40px;
}

.pass {
  width: 80%;
  padding: 12px 20px;
  margin: 1px;
  display: inline-block;
  border: 1px solid white;
  box-sizing: border-box;
  text-align: center;
}

.generate {
  background-color: steelblue;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.copy {
  text-align: center;
  background-color: lightgreen;
  color: black;
  padding: 14px 20px;
  margin: 1px;
  border: none;
  cursor: pointer;
  width: 19%;
}

button:hover {
  opacity: 0.8;
}

.container {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
