<div class="container">
  <h1>
    <b>A <i>Simple</i> But <b>Strong</b> Password Generator</b>
  </h1>
  <hr class="line1" />
  <div>
    <label
      >Number of letters : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label
    >
    <input type="number" class="in" [value]="nrLetters" #lettersInput /><br />
    <label>Number of numbers : &nbsp;&nbsp;&nbsp;</label>
    <input type="number" class="in" [value]="nrNumbers" #numbersInput /><br />
    <label>Number of symbols : &nbsp;&nbsp;&nbsp;&nbsp;</label>
    <input type="number" class="in" [value]="nrSymbols" #symbolsInput />
    <hr class="line2" />
  </div>
  <input class="pass" placeholder="Password" [value]="password" />
  <button class="copy" (click)="onCopy()"><b>Copy</b></button>
  <button
    class="generate"
    (click)="
      generatePassword(
        lettersInput.value,
        numbersInput.value,
        symbolsInput.value
      )
    "
  >
    Generate
  </button>
</div>
