h2,
label {
  color: white;
}

.line1 {
  border: solid gray;
}

.line2 {
  border: dashed gray;
}

.in {
  width: 60px;
  text-align: center;
}

.form-control {
  text-align: center;
}

.btn-primary {
  background-color: steelblue;
  border: none;
}

.btn-success {
  background-color: lightgreen;
  color: black;
}

button:hover {
  opacity: 0.8;
}

.container {
  text-align: center;
  position: absolute;
  width: 350px;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
